%section.dashboard
  .overview
    .headline= current_user.name
    .description
      .thank-you
        .info Thanks for registering!
  .promise
    .info We send food-truck notifications
    .info to people in an 8-mile radius
  .follow
    .label Let's stay in touch on Twitter
    = render 'shared/twitter_follow_button'
  .launching-soon
    .info We're launching this fall.
