%section.dashboard
  .food-truck
    .name= current_user.name

  - if 1 ==current_user.signins
    .thank-you Thanks for registering!
  - else
    .thank-you Thanks for checking back!
  .launching-soon We'll be launching soon.
  = render 'shared/twitter_follow_button'
  .keep-in-touch We'll tweet all about it as we get closer to launch.
  .value When you park, our app will send notifications
  .value to food truck lovers in an 8 mile radius.
  .send-feedback We'd love to hear about features you'd like.
  .tweet-us Just tweet them to us.

  / .parking-spots
  /   @#{current_user.screen_name} Parking Spots:
  /   .value Our app will notify food truck lovers near places you park (10 mile radius).
  /   .instructions Add the regular places you like to park.
  /   %form
  /     %input{type: :text, name: :name, placeholder: "name of location"}
  /     %input{type: :text, name: :location, placeholder: "location address"}

  /     %a.button{href: :save}
  /       %i.icon-map-marker
  /       %label add service location

  / %form
  /   =image_tag(current_user.image, alt: current_user.name)
  /   Home Area for @#{current_user.screen_name}:
  /   %input{type: :text, name: :countries, placeholder: :Country, list: :countries}
  /   %input{type: :text, name: :state, placeholder: :State, list: :states}
  /   %input{type: :text, name: :city, placeholder: :City}

  /   %a.button{href: :save}
  /     %i.icon-map-marker
  /     %label set my home area

  / %form
  /   Be Featured!
  /   Enter a recipe you would like to share with people.
  /   %input{type: :text, name: :ingredients, placeholder: "ingredients"}
  /   %input{type: :text, name: :instructions, placeholder: "instructions"}

  /   %a.button{href: :save}
  /     %i.icon-food
  /     %label share this recipee
