$menu-bar-height: 48px;
$default-line-height: 24px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}




/*    Default Layout: 992px.
    Gutters: 24px.
    Outer margins: 48px.
    Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */


body {
  width: 896px;
  padding: 72px 48px 84px;
  background: #FFF;
  color: rgb(60,60,60);
  -webkit-text-size-adjust: 100%; /* Prevent Mobile Safari auto-adjust of font-sizes */
  // background-image: url('/assets/textures/brickwall/brickwall.png');
  // background-image: url('http://subtlepatterns.com/patterns/brickwall.png');
  background-image: url('https://pbs.twimg.com/profile_banners/896339995/1374446265/web');
}

body {
  color: #437da7;
  width: 100%;
  footer {
    text-align: center;
  }
  header {
    overflow: visible;
    margin: 32px 0;
    width: 100%;
    text-align: center;
    .signout {
      position:absolute;
      top: 2.5em;
      right: 64px;
      display: inline;
      height: 32px;
      line-height: 32px;
    }
  }
  section.signup {
    clear: both;
    width:80%;
    margin: 0 10%;
    .tagline{
      margin: auto;
      text-align: center;
      font: bold 42px/60px "Lucida Grande";
      text-transform:capitalize;
      text-shadow: #fff 0px 1px 0, #000 0 -1px 0;
    }
    .benefit {
      margin: auto;
      text-align: center;
    }
    .cta {
      margin: 50px auto;
      text-align: center;
    }
  }
  section.dashboard {
    clear: both;
    width:80%;
    margin: 0 10%;
    .food-truck {
      clear: both;
      margin: 0 auto;
      text-align: center;
      .name{
        margin: 0 auto;
        text-align: center;
        font: bold 42px/60px "Lucida Grande";
      }
      img{
        margin: 0 auto;
        display: inline-block;
        @include border-radius(10%);
        width: 48px;
        height: 48px;
      }
    }
  }
}
