/*    Wide Mobile Layout: 480px.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  html     { font-size: 34%;   }
  body     { min-width: 480px; }
  .food-truck-me-logo {
    position: fixed;
    left: 6rem;
    top: 2rem;
  }
  .overview {
    position: fixed;
    right: 6rem;
    top: 2rem;
    margin: 0;
  }
  .cta {
    position: fixed;
    right: 6rem;
    top: 16rem;
    margin: 0;
  }

  .food-truck {
    position: fixed;
    left: 0rem;
    top: 13.5rem;
    width: 40%;
    .name {
      font: bold 4.0rem/4.0rem "Helvetica Neue",Arial,sans-serif !important;
    }
    .thank-you {
      font: bold 2.4rem/2.4rem "Helvetica Neue",Arial,sans-serif;
    }
  }
  .promise {
    width: 50%;
    position: fixed;
    right: 3rem;
    top: 2rem;
  }
  .launching-soon {
    position: fixed;
    right: 3rem;
    top: 16.0rem;
    width: 50%;
  }
}