/*    Wide Mobile Layout: 480px.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  html     { font-size: 38%;   }
  body     { min-width: 480px; }
  body {
    .header {
      position:fixed;
      top: 0;
      left: 3.5rem;
      margin: 2rem 0;
      width: 140px;
    }
    .content {
      min-width: 60%;
      float:right;
      section {
        .headline {
          margin: 1rem auto 0 auto;
        }
        .description {
          margin: 0;
        }
        .promise {
          margin: 0 0 1.0rem 0;
        }
        .cta {
          margin-top: 2rem;
        }
        .thank-you, .launching-soon {
          position:fixed;
          left: 2.0rem;
          max-width: 38%;
          min-width: 140px;
          font: normal 2.4rem/3.0rem "Lucida Grande";
        }
        .thank-you {
          top: 134px;
        }
        .launching-soon {
          top: 160px;
        }
      }
    }
  }
}