.food-truck-me-logo
  .badge 1
  %i.icon-truck
  .stars
    %i.icon-star
    %i.icon-star
    %i.icon-star
    %i.icon-star
  .stars
    %i.icon-star
    %i.icon-star
    %i.icon-star
    %i.icon-star
