.privacy-policy
  .section
    %h2 Our team is committed to protecting the privacy of your information.
    %p We really value your interest and we always work to maintain a high level of integrity in everything we do.

  .section
    %p Effective as of July 1, 2013.
    %h1 This Privacy Statement describes Food-Truck.me privacy practices.

    %h3 Your time is valuable so we’ll keep it simple:

    %p Our intent is to provide you with a rich set of services that are actually usefull.
    %br
    %p Food-Truck.me may collect information that you wish to willingly share with us.
    %br
    %p Food-Truck.me will not share, sell, rent, or trade any information that you provide to any  third parties for their promotional purposes.
    %br
    %p We partner with social media providers to offer secure authentiation via OAuth from their site.
    %p These sites include (but are not limited to) Twitter, Facebook, Google+, Pinterest, Instagram.
    %br
    %p We may correspond with you in order to let you know when new service are ready to use, to build a relationship with you, and in order to learn how to best provide you services.
    %br
    %p We promise not to transfer your information to 3rd party services that are not directly required for us to perform business.
    %br
    %p
      You may opt out of future communication at any time by replying to messages that you receive from us, by unfollowing us from social sites, or directly by sending email to
      = "<i>food-truck.me</i><invisible/>&#64;<invisible/>food-truck.me".html_safe
    %br
    %p
      To delete your data permanently contact us directly by sending email to:
      = "<i>food-truck.me</i><invisible/>&#64;<invisible/>food-truck.me".html_safe
    %br
    %p This policy may be updated in the future, but our commitment to protecting your privacy will always remain high.
    %br

    %h3
      With respect and appreciation,
      %br The Food-Truck.me team