%section.signup
  .overview
    .headline send notifications
    .description
      .info within an 8 mile radius
      .info when you park your food truck
  .cta
    %a.button(href='/auth/twitter')
      %i.icon-twitter
      %label Notify People when I Park