%br
%br

%section.signup
  .benefit Send push notifications to nearby food truck lovers when you park.

  %a.button(href='/auth/twitter')
    %i.icon-twitter
    %label Sign up with Twitter to send notifications!