%section.signup
  .overview
    .headline send notifications
    .description
      .info to an 8-mile radius
      .info when you park your food truck
  .cta
    %a.button(href='/auth/twitter')
      %i.icon-twitter
      %label Notify people when I park