form {
  fieldset {
    margin: 20px;
    padding: 8px 20px;
    font: 34px/42px "Lucida Grande";

    input {
      display: block;
      margin: 18px 0;
      font: 24px/40px "Lucida Grande";
      min-width: 400px;
      padding: 0 0 0 8px;
    }
  }
}